/* - - - - - - - - - - - -
    VARIABLES
- - - - - - - - - - - - -*/
:root {
    --header-height: 60px;
    --max-panel-width: 19em;
}

/* - - - - - - - - - - - -
    DEFAULT ELEMENTS
- - - - - - - - - - - - -*/
a {
    color: inherit;
    border-bottom: 1px dotted rgba(0,0,0,0.3);
}

table {
    width: 100%;
}
    table th {
        text-align: left;
    }

/* - - - - - - - - - - - -
    LAYOUT
- - - - - - - - - - - - -*/
.app {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
    .app > .header {
        background-color: #636;
        color: #FFF;
        padding: 1em 2em;
        height: var(--header-height);
    }

        .app > .header > .logo {
            width: 300px;
            margin: -1em 0 0 -2em;
        }
        .app > .header > h1 {
            margin: -15px 0 0 12px;
            font-size: 1.3em;
        }

        .app > .header > .buttons {
            position: absolute;
            top: 0.5em;
            right: 0.5em;
        }
        .app > .header > .buttons a {
            display: inline-block;
            background-color: #888;
            border-radius: 1.5em;
            line-height: 1.5em;
            color: #FFF;
            padding: 0 1em;
        }
    .app > .page {
        position: absolute;
        top: var(--header-height);
        left: 0;
        bottom: 0;
        right: 0;
    }
        .app > .page > .panel {
            position: absolute;
            bottom: 0;
            top: 0;
            padding: 2em;
            overflow-y: auto;
        }
            .app > .page > .panel.left {
                left: 0;
                width: 33%;
                max-width: var(--max-panel-width);
            }
            .app > .page > .panel.right {
                width: 67%;
                min-width: calc(100vw - var(--max-panel-width));
                right: 0;
            }


/* - - - - - - - - - - - -
    COMPONENTS
- - - - - - - - - - - - -*/

.electorate-icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 50%;
    background-color: #AAA;
    overflow: hidden;
    font-family: monospace;
    font-weight: bold;
    color: white;
}

span.party-icon {
    display: inline-block;
    width: 2.5em;
    text-align: center;
    height: 1.5em;
    border-radius: 1.5em;
    color: white;
    line-height: 1.45em;
    margin-right: 0.5em;
}

.link-modal iframe {
    height: calc(100vh - 15em);
    border: 1px solid #CCC;
    border-top: none;
}

.link-modal .content {
    padding: 0 0.5em 0.5em !important;
}

button.close {
    position: absolute;
    top: 0;
    right: 1em;
    content: "x";
    line-height: 2em;
    width: 2em;
    display: block;
    background-color: #CCC;
    border: none;
}
button.close::before {
    content: "×";
}

.search-area > div {
    width: 100%;
}


/* - - - - - - - - - - - -
    MOBILE
- - - - - - - - - - - - -*/

@media only screen and (max-width: 600px) {


    .app > .header > h1 {
        font-size: 1em;
    }

    .app > .page > .panel {
        position: relative;
        bottom: 0;
        top: 0;
        padding: 2em;
        overflow-y: auto;
    }
        .app > .page > .panel.left {
            width: 100%;
            max-width: 100%;
        }
        .app > .page > .panel.right {
            width: 100%;
            min-width: auto;
        }

    .search-area .search-list {
        display: none;
    }

    .search-area.searching .search-list {
        display: block;
    }

}
